#section3 {
    padding-bottom : 30px;
}
#section3 h1 {
    width : 100%;
    height : 100px;
    line-height : 100px;
    text-align : center;
    font-size : 40px;
}
#section3 .gallary {
    display : flex;
    flex-flow : row wrap;
    justify-content: space-around;
    width : 100%;
    position : relative;
    gap : 40px 10px;
}
#section3 .gallary::after {
    padding-bottom : 100%;
}
#section3 .gallary div {
    position : relative;
    width : 30%;
    cursor : pointer;
}
#section3 .gallary div i {
    position : absolute; 
    top : 10px;
    right : 10px;
    font-size : 40px;
    transition : .5s;
}
#section3 .gallary div:hover i {
    color : #fff;
    text-shadow : 0 0 5px #000;
}
#section3 .gallary div:hover img {
    filter: saturate(1);
}
#section3 .gallary div img {
    width : 100%;
    height : auto;
    filter: saturate(0.1);
    transition : .5s;
}

@media screen and (max-width : 1024px) {
    #section3 .gallary div {
        width : 45%;
    }
}
@media screen and (max-width : 768px) {
    #section3 .gallary div {
        width : 90%;
    }
}